:root{
    font-size: 1px;
}
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* TODO  */
/* add media queries to change grid layout */
body{
    font-size: 14rem ;
    height: 100%;
    display: grid;
    grid-template-areas: 'header' 
    'article' 'footer';
    grid-template-rows: min-content 1fr min-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.background-image{
    background-color: #fff;
    position: fixed;
    top: -3%;
    bottom: -3%;
    left: -3%;
    right: -3%;
    width: 106%;
    height: 106%; 
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    pointer-events: none;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    /* so that the background wouldn't have those frosty edges */
    /* background-attachment: fixed; */
    background-position: center;
    transition: filter 1.5s;
    filter: blur(10px);
}
/*
.background-image::before{
    content: "";
    background-image: url(./assets/movimages/dune.jpg);
    position: fixed;
    overflow: auto;
    top: -1%;
    bottom: -1%;
    left: -1%;
    right: -1%;
    /* width: 120%; */
    /* height: 120%; 
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: blur(12px);
}
*/

header{
    /* filter: blur(10px);
    background-image: inherit; */
    grid-area: header;
    background-image: inherit;
    background-color: transparent;
    /* box-shadow: 3px 0 3px #fff4; */
    padding:5px 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    z-index: 1;
}
header img{
    height: 80px;
    margin-right: auto;
    
}

header a {
    padding: 10px;
    text-decoration: none;
    color: white;
    /* text-shadow: 0 0 1px #0003; */
    font-weight:bolder ;
    font-size: 17rem;
    -webkit-text-stroke: 0.2rem #0004;
}
header a:first-child{
    margin-left: auto;
}
header a:hover{
    background-color: #fff5;
    
}
article{
    grid-area: article;
    display: grid;
    grid-template-areas: "title title title" "form vline link";
    grid-template-columns: 1fr 50px 1fr;
    grid-template-rows: 100px 1fr;
    z-index: 1;
    color: white;
    text-shadow:
    -1px -1px 5px #0006,
    1px -1px 5px #0006,
    -1px 1px 5px #0006,
    1px 1px 5px #0006;

}
/********************************
* *sections
*********************************/
section#title{
    grid-area: title;
    padding-top: 30px;
}
section#title h1{

    text-align: center;
    font-size: 30px;
}
/********************************
* *form
*********************************/
#form{
    grid-area:form;
    padding: 10px;
    display: grid;
    /* place-content: center; */
    /* align-content: center; */
    justify-content: center;
}
form{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding:20px;
    gap: 10px;
}
form > input{
    
    background-color: white;
    border: 0;
    height: 40px;
    border-radius: 2px;
    text-align: left;
    padding: 10px
}
form > input[type=submit]{
    text-align: center;

    background-color: #28C44C;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: color, background-color 0.3s;
}
form a{
    color: #3B7ECC;
    text-decoration: none;
}
form > input[type=submit]:disabled{
    background-color: gray;
    color: lightgray;
}
/********************************
* * links
*********************************/
section#links{
    grid-area: link;
    padding: 10px;
    text-align: center;
}

.sl-cont{
    max-width: 300px;
    margin: auto;
    padding: 50px 0;
}
.social-links{
    
    /* border: 1px solid black; */
    box-shadow: 1px 1px 3px #0003;
    height: 40px;
    background-color: gray;
    border-radius: 3px;
    margin-top: 8px;
    text-align: center;
    cursor: pointer;
    display: flex;
    position: relative;
}
i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: white;
}
.link-text{
    display: block;
    margin: auto;
    color: white;
}
#Facebook{
    background-color: #3B7ECC;
}
#Twitter{
    background-color: #3CC1EC;
}
#Google{
    background-color: #EA4335;
}
/********************************
* *separator
*********************************/
div#separator{
    grid-area: vline;
    color: gray;
}
div#separator > p{
    margin: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 100;
}

#vertical-line{
    height: 300px;
    margin-top: 40px;
    width: 1px;
    border-right: 1px solid lightgray;
    margin: auto;
}
footer{
    grid-area: footer;
    background-color: #e5e5e599;
    z-index: 1;

    
    /* display: flex; */
}
footer ul{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5rem;
    list-style: none;
    justify-content: center;
    /* gap: 30px; */
}
footer ul li{
    padding:0 20px;
    border-right: 1px solid #a5a5a5;
}
footer ul li:last-child{
    border: 0;
}
footer li > a{
    text-decoration: none;
    color: #333;
}
footer img{
    height: 100%;
}
#copyrighttext{
    margin-bottom: 10px;
    font-size: smaller;
    text-align: center;
    color: gray;
}

@media only screen and (max-width: 600px) {
    :root{
        font-size: 0.8px;
    }
    section#title h1{
        font-size: 20rem;
    }
    #form{
        padding: 0;
    }
    article{
    grid-template-areas: "title title title" "form form form" "vline vline vline" 'link link link';

    }
    #vertical-line{
        display: none;
    }
}